build/
release/
*.suo
*.user
Bin
!/Bin
bin
!/bin
obj
_ReSharper*
*.csproj.ReSharper
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
*Publish.xml
.svn
*.log
log/
*.Log
*_Logs
Logs/
temp/
trunk/
~$*
*.orig
*.bak
*.bin
*.dotCover
.sass-cache/
umbraco/Production/umbraco/css
umbraco/Production/umbraco/images
umbraco/Production/umbraco/masterpages
umbraco/Production/umbraco/scripts
umbraco/Production/umbraco/xslt
App_Data/